<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>alar_task_1</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/base.css') }}">
  {% block css %}
  {% endblock %}
</head>
<body class="h-100">
  <div class="container h-100">
    {% block content %}
    {% endblock %}
  </div>
{% block js %}
{% endblock %}
</body>
</html>